@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0; 
}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="/Testimonial/CreateTestimonial" class="btn btn-primary" style="position:absolute; right:5px; top:5px;">Yeni Referans Girişi</a>
                    <h4 class="card-title">Referans Listesi</h4>


                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Görsel</th>
                                <th>Adı</th>
                                <th>Ünvan</th>
                                <th>Yorumu</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><img src="@item.ImageUrl" style="height:125px; width:125px; border-radius:15px;" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Title</td>
                                    <td>@item.Comment</td>
                                    <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-info">Düzenle</a></td>
                                    <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>