@using CarBook.Dtos.CarPricingDtos
@model List<ResultCarPricingListWithModelDto>
@{
    ViewData["Title"] = "Araç Fiyat Tablosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_HeroComponentPartial")


	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div class="car-list">
						<table class="table">
							<thead class="thead-primary">
								<tr class="text-center">
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th class="bg-primary heading">Günlük</th>
									<th class="bg-dark heading">Haftalık</th>
									<th class="bg-black heading">Aylık</th>
								</tr>
							</thead>
							<tbody>
							@foreach(var item in Model)
							{
								<tr class="">
									<td class="car-image"><div class="img" style="background-image:url(@item.coverImageUrl);"></div></td>
									<td class="product-name">
										<h3>@item.brand</h3>
										<p class="mb-0 rated">
											@item.model
										</p>
									</td>

									<td class="price">
										<p class="btn-custom"><a href="#">Kirala</a></p>
										<div class="price-rate">
											<h3>
												<span class="num">@item.dailyAmount ₺</span>
												<span class="per">/Günlük Ücret</span>
											</h3>
										</div>
									</td>

									<td class="price">
										<p class="btn-custom"><a href="#">Kirala</a></p>
										<div class="price-rate">
											<h3>
												<span class="num">@item.weeklyAmount ₺</span>
												<span class="per">/Haftalık Ücret</span>
											</h3>
										</div>
									</td>

									<td class="price">
										<p class="btn-custom"><a href="#">Kirala</a></p>
										<div class="price-rate">
											<h3>
												<span class="num"> @item.monthlyAmount ₺</span>
												<span class="per">/Aylık Ücret</span>
											</h3>
										</div>
									</td>
								</tr>

							}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
