@model List<ResultContactDto>
@{
    ViewData["Title"] = "ContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0; 
}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
               
                    <h4 class="card-title">İletişime Geçenler</h4>


                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Adı</th>
                                <th>Mail</th>
                                <th>Konu</th>
                                <th>Mesaj</th>
                                <th>Tarih</th>
                                <th>Sil</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.name</td>
                                    <td>@item.email</td>
                                    <td>@item.subject</td>
                                    <td>@item.messageBody</td>
                                    <td>@item.sendDate.ToString("MMM.dd.yyyy")</td>
                                    <td><a href="/Contact/DeleteContact/@item.contactId" class="btn btn-danger">Sil</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>