@using CarBook.Dtos.CarFeatureDtos
@model List<GetCarFeatureByCarIdDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Araca Ait Özellikler Listesi</h4>
                    <p class="card-subtitle mb-4">
                        Araca ait özellik eklemesi yapabilir,mevcut özellikleri kaldırabilir, ilgili güncellemeleri gerçekleştirebilirsiniz.
                    </p>
                    <form method="post">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check">
                                <input type="hidden" asp-for="@Model[i].CarFeatureId" />
                                <input type="hidden" asp-for="@Model[i].FeatureId" />
                                <input type="hidden" asp-for="@Model[i].FeatureName" />
                                <input type="checkbox" asp-for="@Model[i].Available" class="form-check-input" />
                                <label class="form-check-label" for="@Model[i].Available">@Model[i].FeatureName</label>
                            </div>
                        }
                        <br />
                        <button class="btn btn-success">Değişiklikleri Kaydet</button>
                        <a href="/Car/CarList" class="btn btn-secondary">Vazgeç</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
