@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">İstatistik</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">İstatistik</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <!--A1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                # 12
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--A1 END-->
        <!--A2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                        <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.locationCount
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--A2 END-->
        <!--A3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Yazar-Personel Sayısı</span>
                        <h5 class="card-title mb-0 text-white">Toplam Personel</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.authorCount
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--A3 END-->
        <!--A4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.blogCount
                            </h2>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--A4 END-->
    </div>

    <div class="row">
        <!--B1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aktif Markalarımız</span>
                        <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                # @ViewBag.brandCount
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--B1 END-->
        <!--B2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.avgRentPriceForDaily ₺
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--B2 END-->
        <!--B3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Haftalık Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.avgRentPriceForWeekly ₺
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--B3 END-->
        <!--B4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aylık Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.avgRentPriceForMonthly ₺
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--B4 END-->
    </div>

    <div class="row">
        <!--C1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Otomatik Vitesli Araç Sayısı</span>
                        <h5 class="card-title mb-0 text-white">Araç Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                # @ViewBag.carCountByTranmissionIsAuto
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--C1 END-->
        <!--C2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Marka Adı</span>
                        <h5 class="card-title mb-0 text-white">En Fazla Araçlı Marka</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.brandNameByMaxCar
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--C2 END-->
        <!--C3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">En Fazla Yorum Alan Blog</span>
                        <h5 class="card-title mb-0 text-white">En İyi Blog</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h3 class="d-flex align-items-center text-white mb-0">
                                @ViewBag.blogTitleByMaxBlogComment
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--C3 END-->
        <!--C4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">10.000 Km Altındaki Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Araç Sayısı</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                # @ViewBag.carCountByKmSmallerThen1000
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--C4 END-->
</div>

<div class="row">
    <!--D1-->
    <div class="col-md-6 col-xl-3">
        <div class="card" style="background-color:#075985;">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                    <h5 class="card-title mb-0 text-white">Benzin Dizel Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            # @ViewBag.carCountByFuelGasolineOrDiesel
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--D1 END-->
    <!--D2-->
    <div class="col-md-6 col-xl-3">
        <div class="card" style="background-color:#075985;">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                    <h5 class="card-title mb-0 text-white">Elektrikli Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.carCountByFuelElectric
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--D2 END-->
    <!--D3-->
    <div class="col-md-6 col-xl-3">
        <div class="card" style="background-color:#075985;">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatına Göre</span>
                    <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h4 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.carBrandAndModelByRentPriceDailyMax
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--D3 END-->
    <!--D4-->
    <div class="col-md-6 col-xl-3">
        <div class="card" style="background-color:#075985;">

            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatına Göre</span>
                    <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h3 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.carBrandAndModelByRentPriceDailyMin
                        </h3>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!--D4 END-->
</div>

